body {
  background-color: #fffacc;
}

header {
  font-size: 30px;
  text-align: center;
}

.columns {
  display: flex;

}

.column {
  margin: 10px;

}

.Interpretation {
  margin-left: 15px;
}

footer {
  text-align: center;
  margin-top: 50px;
  border: 5px double darkred;
  margin-left: 600px;
  margin-right: 600px;
  font-size: 20px;

}
